<div class="row">
	<div class="col" style="text-align:right;">
		<button  class="button button-clear button-positive">{{ form.amount }} {{ form.currency.symbol }}</button>
		<button ng-click="addToAmount('del')"  class="button button-clear button-positive"><i class="ion-close-circled"></i></button>
	</div>
</div>
<div class="row">
	<div class="col">
		<button ng-click="addToAmount('1')" class="button button-clear button-positive button-large">1</button>
	</div>
	<div class="col">
		<button ng-click="addToAmount('2')" class="button button-clear button-positive button-large">2</button>
	</div>
	<div class="col">
		<button ng-click="addToAmount('3')"  class="button button-clear button-positive button-large">3</button>
	</div>
</div>
<div class="row">
	<div class="col">
		<button ng-click="addToAmount('4')"  class="button button-clear button-positive button-large">4</button>
	</div>
	<div class="col">
		<button ng-click="addToAmount('5')"  class="button button-clear button-positive button-large">5</button>
	</div>
	<div class="col">
		<button ng-click="addToAmount('6')"  class="button button-clear button-positive button-large">6</button>
	</div>
</div>
<div class="row">
	<div class="col">
		<button ng-click="addToAmount('7')"  class="button button-clear button-positive button-large">7</button>
	</div>
	<div class="col">
		<button ng-click="addToAmount('8')"  class="button button-clear button-positive button-large">8</button>
	</div>
	<div class="col">
		<button ng-click="addToAmount('9')"  class="button button-clear button-positive button-large">9</button>
	</div>
</div>
<div class="row">
	<div class="col">
		<button ng-hide="isAfterDecimalPoint" ng-click="addToAmount(',')"  class="button button-clear button-positive button-large">,</button>
	</div>
	<div class="col">
		<button ng-click="addToAmount('0')"  class="button button-clear button-positive button-large">0</button>
	</div>
	<div class="col"><button ng-show="isAfterDecimalPoint" ng-click="goBeforeDecimalPoint()"  class="button button-clear button-positive button-large"><i class="ion-chevron-left"></i></button></div>
</div>