<div class="row">
	<div class="col col-67 amountPickerResultPosition">
		<h4>{{ temporaryAmount }}</h4>
	</div>
	<div class="col col-33">
		<button ng-click="addToAmount('del')"  class="button button-clear button-large button-positive icon ion-arrow-left-a amountPickerButtonSize"></button>
	</div>
</div>
<div class="row">
	<div class="col">
		<button ng-click="addToAmount('1')" class="button button-clear button-positive button-large amountPickerButtonSize">1</button>
	</div>
	<div class="col">
		<button ng-click="addToAmount('2')" class="button button-clear button-positive button-large amountPickerButtonSize">2</button>
	</div>
	<div class="col">
		<button ng-click="addToAmount('3')"  class="button button-clear button-positive button-large amountPickerButtonSize">3</button>
	</div>
</div>
<div class="row">
	<div class="col">
		<button ng-click="addToAmount('4')"  class="button button-clear button-positive button-large amountPickerButtonSize">4</button>
	</div>
	<div class="col">
		<button ng-click="addToAmount('5')"  class="button button-clear button-positive button-large amountPickerButtonSize">5</button>
	</div>
	<div class="col">
		<button ng-click="addToAmount('6')"  class="button button-clear button-positive button-large amountPickerButtonSize">6</button>
	</div>
</div>
<div class="row">
	<div class="col">
		<button ng-click="addToAmount('7')"  class="button button-clear button-positive button-large amountPickerButtonSize">7</button>
	</div>
	<div class="col">
		<button ng-click="addToAmount('8')"  class="button button-clear button-positive button-large amountPickerButtonSize">8</button>
	</div>
	<div class="col">
		<button ng-click="addToAmount('9')"  class="button button-clear button-positive button-large amountPickerButtonSize">9</button>
	</div>
</div>
<div class="row">
	<div class="col">
		<button ng-hide="isAfterDecimalPoint" ng-click="addToAmount(',')"  class="button button-clear button-positive button-large amountPickerButtonSize">,</button>
	</div>
	<div class="col">
		<button ng-click="addToAmount('0')"  class="button button-clear button-positive button-large amountPickerButtonSize">0</button>
	</div>
	<div class="col"><button ng-show="isAfterDecimalPoint" ng-click="goBeforeDecimalPoint()" class="button button-clear button-positive button-large amountPickerButtonSize"><i class="ion-chevron-left"></i></button></div>
</div>