<div class="modal">
	<ion-header-bar class="bar bar-header bar-hrworks">
		<h1 class="title" translate="LOGIN"></h1>
		<button class="button button-icon button-clear ion-checkmark" form="loginForm"></button>
	</ion-header-bar>
	<ion-content
		padding="false"
		has-header="true">
		<form novalidate="novalidate" ng-submit="login(loginForm.$valid)" name="loginForm" id="loginForm">
			<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label {{ (loginForm.companyId.$invalid && submitted) && 'validErrorText' || ''}}" translate="COMPANYID"></span>
					<input type="text" name="companyId" id="companyId" ng-model="user.companyId" required="required" />
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label {{ (loginForm.personId.$invalid && submitted) && 'validErrorText' || ''}}" translate="PERSONID"></span>
					<input type="text" name="personId" id="personId" ng-model="user.personId" required="required">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label {{ (loginForm.mobilePassword.$invalid && submitted) && 'validErrorText' || ''}}" translate="MOBILEPASSWORD"></span>
					<input type="text" name="mobilePassword" id="mobilePassword" ng-model="user.mobilePassword" required="required">
				</label>
			</div>
		</form>
		<div class="card">
			<div class="item item-text-wrap" translate="LOGIN_INFO_TEXT"></div>
		</div>
	</ion-content>
</div>