<div class="modal">
	<ion-header-bar class="bar bar-header bar-hrworks">
		<h1 class="title" translate="CHOOSE_RECEIPTKIND"></h1>
		<button class="button button-icon button-clear ion-chevron-down" ng-click="closeReceiptKindsModal()"></button>
	</ion-header-bar>
	<ion-header-bar class="bar bar-subheader item-input-inset">
		<div class="item-input-wrapper">
			<i class="icon ion-ios7-search placeholder-icon"></i>
			<input type="search" id="receiptKindsSearch" placeholder="{{ 'SEARCH' | translate }}" ng-model="data.searchQueryReceiptKinds" />
			<button ng-if="data.searchQueryReceiptKinds.length > 0" class="button button-icon ion-ios7-close-empty input-button" ng-click="clearSearchReceiptKinds()"></button>
		</div>
	</ion-header-bar>
	<!-- TODO: start-y-->
	<ion-content
		start-y="55" 
		padding="false"
		has-header="true">
		<div class="list" ng-if="showListReceiptKinds">
			<ion-radio
				class="item fullScreenList"
				collection-repeat="receiptKind in receiptKinds | filter: data.searchQueryReceiptKinds"
				collection-item-height="50"
				collection-item-width="'100%'"
				ng-value="receiptKind.description"
				ng-model="receiptKindsSelected.description"
				ng-click="selectReceiptKind(receiptKind)">
				{{ receiptKind.description }}
			</ion-radio>
		</div>
	</ion-content>
</div>