<ion-view title="{{ receiptTitle }}">
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear ion-checkmark" form="receiptForm"></button>
		<button class="button button-icon button-clear ion-navicon" ng-if="isEdit()" ng-click="showActionsheet()"></button>
	</ion-nav-buttons>
	<ion-content has-header="true">
		<form ng-submit="saveReceipt(receiptForm.$valid, false)" name="receiptForm" id="receiptForm"  novalidate>
			<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label" translate="DESCRIPTION"></span>
					<input name="text" type="text" required="required" ng-model="form.text" />
					<i class="validError" ng-show="receiptForm.text.$invalid && submitted" translate="ERRORMESSAGE_DESCRIPTION"></i>
				</label>
				<label class="item item-input item-stacked-label" ng-if="!showAlternativeAmountpicker">
					<span class="input-label" translate="AMOUNT"></span>
					<input type="number"  name="amount" id='amount' required="required" ng-model="form.amount" />
					<i class="validError" ng-show="receiptForm.amount.$invalid && submitted" translate="ERRORMESSAGE_AMOUNT"></i>
				</label>
				<label class="item item-input item-stacked-label" ng-show="showAlternativeAmountpicker" ng-click="openAmountPicker()">
					<span class="input-label" translate="AMOUNT"></span>
					<span class="input-span">{{ form.amount }}</span>
					<i class="validError" ng-show="receiptForm.amount.$invalid && submitted" translate="ERRORMESSAGE_AMOUNT"></i>
				</label>
				<label class="item item-input item-stacked-label item-icon-right" ng-click="openCurrenciesModal()">
					<span class="input-label" translate="CURRENCY"></span>
					<span class="input-span">{{ form.currency.description }}</span>
					<i class="validError" ng-show="receiptForm.currency.$invalid && submitted" translate="ERRORMESSAGE_CURRENCY"></i>
					<i class="icon ion-chevron-right icon-gray"></i>
				</label>
				<label class="item item-input item-stacked-label" ng-hide="showAlternativeDatepicker">
					<span class="input-label" translate="DATE"></span>
					<input id="date" required="required" type="date" name="date" ng-model="form.date" />
					<i class="validError" ng-show="receiptForm.date.$invalid && submitted" translate="ERRORMESSAGE_DATE"></i>
				</label>
				<label class="item item-input item-stacked-label "  ng-show="showAlternativeDatepicker" ng-click="openDatePicker('date')">
					<span class="input-label" translate="DATE"></span>
					<p>{{ form.date | date: dateFormat }}</p>
					<i class="validError" ng-show="receiptForm.date.$invalid && submitted" translate="ERRORMESSAGE_DATE"></i>
				</label>
				<label ng-if="form.receiptKind.isHotel && !showAlternativeDatepicker" class="item item-input item-stacked-label ">
					<span class="input-label" translate="ENDDATE"></span>
					<input required="required" type="date" name="endDate" ng-model="form.endDate" />
					<i class="validError" ng-show="receiptForm.endDate.$invalid && submitted" translate="ERRORMESSAGE_DATE"></i>
					<i class="validError" ng-show="form.endDate < form.date && submitted" translate="ERRORMESSAGE_ENDDATETOLOW"></i>
				</label>
				<label  ng-if="form.receiptKind.isHotel && showAlternativeDatepicker" class="item item-input item-stacked-label"  ng-click="openDatePicker('endDate')">
					<span class="input-label" translate="ENDDATE"></span>
					<p>{{ form.endDate | date: dateFormat }}</p>
					<i class="validError" ng-show="receiptForm.endDate.$invalid && submitted" translate="ERRORMESSAGE_DATE"></i>
					<i class="validError" ng-show="form.endDate < form.date && submitted" translate="ERRORMESSAGE_ENDDATETOLOW"></i>
				</label>
				<label class="item item-input item-stacked-label item-icon-right" ng-click="openReceiptKindsModal()">
					<span class="input-label" translate="RECEIPTKIND"></span>
					<span class="input-span">{{ form.receiptKind.description }}</span>
					<i class="validError" ng-show="receiptForm.receiptKind.$invalid && submitted" translate="ERRORMESSAGE_RECEIPTKIND"></i>
					<i class="icon ion-chevron-right icon-gray"></i>
				</label>
				<label ng-if="form.receiptKind.isBusinessEntertainment" class="item item-input item-stacked-label">
					<span class="input-label" translate="REASON"></span>
					<input name="reason" type="text" required="required" ng-model="form.reason" />
					<i class="validError" ng-show="receiptForm.reason.$invalid && submitted" translate="ERRORMESSAGE_REASON"></i>
				</label>
				<label ng-if="form.receiptKind.isBusinessEntertainment" class="item item-input item-stacked-label">
					<span class="input-label" translate="PERSONS"></span>
					<input name="persons" type="text" ng-model="form.persons" />
					<i class="validError" ng-show="personsValid() && submitted" translate="ERRORMESSAGE_PERSONS"></i>
				</label>
				<label ng-if="form.receiptKind.isBusinessEntertainment" class="item item-input item-stacked-label">
					<span class="input-label" translate="PLACE"></span>
					<input name="place" type="text" required="required" ng-model="form.place" />
					<i class="validError" ng-show="receiptForm.place.$invalid && submitted" translate="ERRORMESSAGE_PLACE"></i>
				</label>
				<label class="item item-input item-stacked-label item-icon-right" ng-click="openKindsOfPaymentModal()">
					<span class="input-label" translate="KINDOFPYMENT"></span>
					<span class="input-span">{{ form.kindOfPayment.description }}</span>
					<i class="validError" ng-show="receiptForm.kindOfPayment.$invalid && submitted" translate="ERRORMESSAGE_KINDOFPYMENT"></i>
					<i class="icon ion-chevron-right icon-gray"></i>
				</label>
				<!-- To prevent conflicts with focusing input fields, hidden input fields should not stand in their actually correct label.
				So Ionic doesn't think that a keyboard is open when a label is clicked. -->
				<input type="hidden" name="currency" ng-model="form.currency.description" required="required">
				<input id="endDate" required="required" type="hidden" name="endDate" ng-model="form.endDate" />
				<input id="date" required="required" type="hidden" name="date" ng-model="form.date" />
				<input id="amount" required="required" type="hidden" name="amount"  ng-model="form.amount" />
				<input type="hidden" name="receiptKind" ng-model="form.receiptKind.description" required="required">
				<input type="hidden" name="kindOfPayment" ng-model="form.kindOfPayment.description" required="required">
			</div>
		</form>
	</ion-content>
</ion-view>