<ion-view title="{{ 'SETTINGS' | translate }}">
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear ion-checkmark" form="settingsForm"></button>
	</ion-nav-buttons>
	<ion-content class="has-header" padding="true">
		<div class="list">
			<div class="button-bar">
				<a class="button de {{ (isGerman == true) && 'active' || '' }}" ng-click="changeLang('de', $event)" translate="GERMAN"></a>
				<a class="button en {{ (isGerman == '') && 'active' || '' }}" ng-click="changeLang('en', $event)" translate="ENGLISH"></a>
			</div>
		</div>
		<form name="settingsForm" id="settingsForm" ng-submit="saveSettings(settingsForm.$valid)" novalidate="novalidate">
			<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label {{ (settingsForm.companyId.$invalid && submitted) && 'validErrorText' || ''}}" translate="COMPANYID"></span>
					<input type="text" name="companyId" id="companyId" ng-model="form.companyId" required="required" />
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label {{ (settingsForm.personId.$invalid && submitted) && 'validErrorText' || ''}}" translate="PERSONID"></span>
					<input type="text" name="personId" id="personId" ng-model="form.personId" required="required">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label {{ (settingsForm.mobilePassword.$invalid && submitted) && 'validErrorText' || ''}}" translate="MOBILEPASSWORD"></span>
					<input type="text" name="mobilePassword" id="mobilePassword" ng-model="form.mobilePassword" required="required">
				</label>
				<label class="item item-input item-select">
					<div class="input-label" translate="TARGETSERVER"></div>
					<select ng-model="form.targetServer">
						<option value="0">Produktiver Server</option>
						<option value="demo-0">Testserver Demo</option>
						<option value="area51-0">Testserver Area51</option>
					</select>
				</label>
				<li ng-hide="ionic.Platform.isIOS()" class="item item-toggle">
				<h2 translate="ALTERNATIVE_DATEPICKER"></h2>
					<label class="toggle toggle-positive">
						<input type="checkbox" ng-model="form.alternativeDatepicker">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
				<li ng-hide="ionic.Platform.isIOS()" class="item item-toggle">
				<h2 translate="ALTERNATIVE_AMOUNTPICKER"></h2>
					<label class="toggle toggle-positive">
						<input type="checkbox" ng-model="form.alternativeAmountpicker">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
			</div>
		</form>
	</ion-content>
</ion-view>